# Data Nilai

In [55]:
import random
nilaitugas=[]

for i in range(250):
    nilaitugas.append(random.randrange(1,100,1))
    
print(nilaitugas)

[2, 19, 68, 58, 49, 58, 60, 14, 13, 8, 85, 15, 2, 54, 78, 96, 41, 69, 19, 6, 21, 59, 92, 17, 2, 32, 93, 13, 13, 22, 21, 62, 33, 20, 39, 90, 38, 57, 95, 72, 4, 62, 80, 74, 59, 44, 1, 77, 36, 8, 46, 2, 67, 68, 79, 36, 70, 88, 28, 44, 88, 5, 16, 82, 49, 95, 59, 15, 45, 33, 18, 59, 77, 65, 97, 91, 53, 99, 57, 35, 54, 45, 70, 54, 99, 34, 97, 30, 29, 86, 18, 96, 3, 49, 1, 59, 21, 60, 79, 4, 12, 55, 16, 93, 68, 99, 24, 91, 7, 16, 14, 56, 89, 82, 5, 7, 95, 86, 60, 94, 11, 64, 50, 25, 21, 38, 35, 42, 73, 37, 58, 25, 10, 43, 95, 3, 98, 55, 18, 35, 59, 52, 87, 63, 72, 18, 52, 45, 55, 50, 76, 93, 32, 42, 77, 13, 11, 68, 71, 6, 4, 54, 70, 18, 94, 59, 27, 85, 47, 7, 76, 84, 82, 64, 59, 40, 12, 95, 6, 37, 8, 16, 15, 99, 15, 96, 8, 13, 99, 2, 46, 61, 23, 86, 20, 49, 32, 15, 42, 3, 85, 33, 81, 22, 5, 90, 1, 54, 84, 25, 60, 32, 23, 32, 62, 66, 78, 99, 16, 28, 68, 98, 4, 89, 60, 74, 97, 74, 95, 23, 90, 83, 32, 66, 99, 12, 33, 89, 51, 84, 17, 70, 22, 26, 11, 57, 7, 54, 59, 88]

# Nilai Ganjil

In [57]:
ganjil=[]

for i in nilaitugas:
    if i% 2==1:
        ganjil.append(i) 
        
print ('Nilai ganjil:')
print (ganjil)

Nilai ganjil:
[19, 49, 13, 85, 15, 41, 69, 19, 21, 59, 17, 93, 13, 13, 21, 33, 39, 57, 95, 59, 1, 77, 67, 79, 5, 49, 95, 59, 15, 45, 33, 59, 77, 65, 97, 91, 53, 99, 57, 35, 45, 99, 97, 29, 3, 49, 1, 59, 21, 79, 55, 93, 99, 91, 7, 89, 5, 7, 95, 11, 25, 21, 35, 73, 37, 25, 43, 95, 3, 55, 35, 59, 87, 63, 45, 55, 93, 77, 13, 11, 71, 59, 27, 85, 47, 7, 59, 95, 37, 15, 99, 15, 13, 99, 61, 23, 49, 15, 3, 85, 33, 81, 5, 1, 25, 23, 99, 89, 97, 95, 23, 83, 99, 33, 89, 51, 17, 11, 57, 7, 59]

# Nilai yang lebih dari 70

In [82]:
lebih=[]

for i in nilaitugas:
    if i>70:
        lebih.append(i)
        
print('Nilai yang lebih dari 70 sebanyak', len(lebih))

Nilai yang lebih dari 70 sebanyak 70

# Standar Deviasi

In [65]:
a = 0
j = len(nilaitugas)
for n in nilaitugas:
    a = a + n
rata = a / j

b = 0
for n in nilaitugas:
    c = n - rata
    pangkat = c**2
    b = b + pangkat
    
std_dev = (b / (j-1))**(0.5)


print("Standard Deviasi : ",std_dev)

Standard Deviasi :  30.591943449478055

# Maksimum

In [80]:
maks= nilaitugas[0]

for i in nilaitugas:
    if i > maks:
        maks = i
        
print("Nilai Maksimum:",maks)

Nilai Maksimum: 99

# Minimum

In [81]:
mins = nilaitugas[0]
for i in nilaitugas:
    if i < mins:
        mins = i

print("Nilai Minimum : ", mins)

Nilai Minimum :  1

# Modus

In [89]:
x= {}
modus = " "
for i in nilaitugas:
    if i in x:
        x[i]+= 1
    else:
        x[i] = 1
        
maks =  0 
for i in x:
    if x[i]> maks:
        maks = x[i]
        modus = i

print ('Nilai Modus:', modus)

Nilai Modus: 59

# Word Count

In [107]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print(paragraf)

#ubah seluruh paragraf
paragraf = paragraf.lower()

paragraf = paragraf.replace('.',' ')

paragraf = paragraf.replace(',', ' ')

paragraf = paragraf.replace('/', ' ')

paragraf = paragraf.replace('(', ' ')

paragraf = paragraf.replace(')',' ')

paragraf = paragraf.replace('-',' ')

kalimat = paragraf.split()
print( )
print('Word count dari paragraf diatas adalah:')

for kata in kalimat:
    jmlh = kalimat.count(kata)
    print(kata,":", jmlh)

Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir.

Word count dari paragraf diatas adalah:
barcelona : 4
berhasil : 1
merebut : 1
posisi : 1
puncak : 1
klasemen : 1
la : 1
liga : 1
spanyol : 1
seusai : 1
menang : 1
4 : 1
2 : 3
atas : 1
sevilla : 1
pada : 3
pertandingan : 1
pekan : 1
kesembilan : 1
di : 1
stadion : 1
camp : 1
nou : 1
sabtu : 1
20 : 1
10 : 2
2018 : 1
atau : 1
minggu : 1
dini : 1
hari : 1
wib : 1
barcelona : 4
membuka : 1
keunggulan : 2
pada : 3
menit : 3
ke : 2
2 : 3
melalui : 1
gol : 1
yang : 1
dicetak : 1
oleh : 1
philippe : 1
coutinho : 1
lionel : 1
messi : 3
menggandakan : 1
keunggulan : 2
barcelona : 4
10 : 2
menit : 3
berselang : 1
namun : 1
nahas : 1
bagi : 1
barcelona : 4
karena : 1
messi : 3
harus : 1
ditarik : 1
keluar : 1
pada : 3
menit : 3
ke : 2
26 : 1
setelah : 1
mengalami : 1
cedera : 1
tanpa : 1
messi : 3
skor : 1
2 : 3
0 : 1
bertahan : 1
hingga : 1
babak : 1
pertama : 1
berakhir : 1